<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./component/head', {title: 'Home' }) %>
</head>
<body>
    <%- include('./component/header') %>
        <h1>register</h1>
        <!-- <input type="text" placeholder="ID">
        <input type="password" placeholder="PW"> -->
    
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID</span>
            <input type="text" class="form-control" placeholder="ID" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="password" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">password</span>
        </div>
        
        <div class="mb-3">
            <label for="basic-url" class="form-label">Your E-mail</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">e-mail</span>
                <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
            <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">gender</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
        
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Server" aria-label="Server">
        </div>
        
        <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button type="button" class="btn btn-outline-info">확인</button>
</body>
</html>